<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bleasy</title>
    <style>
            ul{
                list-style-type: none;
                margin: 0 ;
                padding: 0;
            }
        </style>
</head>

<body>
    {%block nav%}
    <ul id = "nav">
    <li><a href = "{% url 'bloodwallet' %}">마이페이지</a></li>
    <li><a href = "{% url 'signup' %}">회원가입</a></li>
    <li><a href = "{% url 'login' %}">로그인</a></li>
    <li><a href = "{% url 'logout' %}">로그아웃</a></li>
    <li><a href = "{% url 'community' %}">후기게시판</a></li>
    {%endblock%}
    </ul>
    {%block contents%}
    {%endblock%}
</body>

</html>

